# server
SERVER_PORT='8000'

#  database configuration
DATABASE_HOST='localhost'
DATABASE_PORT='5432'
DATABASE_USER='postgres'
DATABASE_PASS='password'
DATABASE_NAME='ayaka_db'

# jwt configuration
JWT_ACCESS_SECRET='ACCESS_SECRET_KEY'
JWT_ACCESS_EXPIRED='24' #minutes

JWT_REFRESH_SECRET='REFRESH_SECRET_KEY'
JWT_REFRESH_EXPIRED='10080' # minutes

# frontend config
FRONTEND_URL='http://localhost:3000'

# smtp configuration
SMTP_HOST='smtp.gmail.com'
SMTP_PORT='587'
SMTP_USER='your@mail.com'
SMTP_PASS='YOURPASSWORD'