# server
SERVER_PORT='8000'

#  database configuration
DATABASE_HOST='localhost'
DATABASE_PORT='5432'
DATABASE_USER='postgres'
DATABASE_PASS='password'
DATABASE_NAME='ayaka_db'

# jwt configuration
JWT_SECRET='jwt secret code'
JWT_EXPIRED='24'